$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Helper functions
 * As some CSS usage are common to see, this section will wrap them up into classes */
.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.width-100 {
    /* Force image to respect width, so that no dirty white space will left on the left */
    width: 100%;
}

.relative {
    position: relative;
}

/* ========== Global color settings ================ */
h3 {
    color: #0070C0;
}

/* Set background color to blue */
.theme-back-color {
    background-color: #126aaf;
}
/* ============ Section: header ================== */
.header-right {
   li+ li::before {
    /* Separate header links by ' / ' */
    content: " / ";
  }

  img {
    /* facebook icon */
    position: absolute;
    right: 20px;
    top: 0;
  }
}

/* Header image */
.header-left {
  img {
    padding: 5px;
  }
  span {
    /* Header text */
    position: absolute;
    bottom: 0;
    padding: 7px;
    font-size: 170%;
  }
}

header .links {
    position: absolute;
    bottom: 0;
    right: 20px;
}

/* =========== Section: footer =============== */
/* set color of footer text */
footer span, footer a{
    color: #FFFFFF;
    font-family: 'OpenSans', 'sans-serif';
    opacity: 0.7;
}
/* =============== Section: desktop navbar =============== */
/* Let items in navbar fill up all space */
.nav > li > a {
    padding: 15px 15px;
}

/* leave some space on top of navbar */
.desktop-nav nav {
    margin-top: 10px;
}

/* =============== Section: mobile navbar ================ */
/* Leave some space between icon and text */
.mobile-navbar .navbar-brand span {
    padding-left: 5px;
}

/* Show navmenu button */
@media (min-width: 1px) {
  .navbar-toggle {
    display: block;
  }
}

/* ================= Navbar color ======================= */
.navbar-default {
  background-color: #bdd7ee;
  border-color: #aac1d6;
}
.navbar-default .navbar-brand {
  color: #71818e;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #4b565f;
}
.navbar-default .navbar-text {
  color: #71818e;
}
.navbar-default .navbar-nav > li > a {
  color: #71818e;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4b565f;
}
.navbar-default .active > a, .navbar-default .active > a:hover, .navbar-default .active > a:focus {
  color: #4b565f;
  background-color: #aac1d6;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #4b565f;
  background-color: #aac1d6;
}
.navbar-default .navbar-toggle {
  border-color: #aac1d6;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #aac1d6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #71818e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #71818e;
}
.navbar-default .navbar-link {
  color: #71818e;
}
.navbar-default .navbar-link:hover {
  color: #4b565f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #71818e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4b565f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4b565f;
    background-color: #aac1d6;
  }
}

/* E-news register widget style */
.e-signup-widget {
    background-color: #8fabdd;
    padding: 3px 10px;
    margin-bottom: 20px;
    overflow: hidden;

    h3 {
      margin-left: 10px;
      color: #333;
    }
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 991px) {
    body {
        padding-top: 70px;
    }
}
