extends layouts/default.jade

block title
  title St. Mark's School Alumni Association

block vars
  - var banner_image = 'images/banner_index.png'

block body
  .container
    aside.col-md-3.col-sm.3.col-xs-12
      //- Left bar
      .list-group#sub-nav
        a.list-group-item.active(href='#', data-bound-to='#exec-commitee') excutive commitee
        a.list-group-item(href='#', data-bound-to='#past-chair') past chairpersons
        a.list-group-item(href='#', data-bound-to='#honor-mem') honorable members

      .visible-md.visible-lg
        a(href='events.html'): img#event-notice.width-100.img-responsive(src='images/index/event.png', alt='upcomming event')

      include layouts/enews_widget

    .col-md-9.col-sm-9.col-xs-12
      //- Content on right
      #exec-commitee.collapse.in
        //- Executive commitee Content
        img.img-responsive(src='images/index/exec-commitee.png', alt='Executive commitee photo')
        h3 2015-16 executive commitee
        .table-responsive
          table.table.table-striped
            tbody
              tr
                td Chairman
                td Wong Yat Hung, Jacko 黃逸雄 (1988)
              tr
                td Vice-Chairman
                td
                  p Ching Lai Mun, Veronica 程麗敏 (1981)
                  p Leung Wai Kin, Jacky 梁偉健 (1991)
              tr
                td Treasurer
                td Lam Hing Sum 林慶森 (1978)
              tr
                td Secretary
                td Lam, Denise 林妍丹 (2012)
              tr
                td Assistant Secretary
                td Cheung Man Shan, Sonia 張文珊 (2009)
              tr
                td Committee Members
                td
                  p Chan Chu Kwong, Mike 陳柱光 (1972)
                  p Chan Kit Hing 陳潔卿 (2009)
                  p Chan Sai Wing, Phillip 陳世榮 (1976)
                  p Chiu Kei Lam, Kirby 趙琦琳 (2014)
                  p Lam Kwok Yin, Edmond 林國然 (1982)
                  p So, Bettina 蘇雅儀 (1988)
                  p So Ling Sze 蘇淩司 (2009)
                  p So Yuen Wa, Eva 蘇婉華 (2008)
                  p Sze, Eva 施伊樺 (1988)
                  p Tsang Kin Chung, Ronnie 曾健中 (1983)

      //- past chairpersons
      #past-chair.collapse
        p Past chairpersons
        p Not finished

      //- honorable members
      #honor-mem.collapse
        p honorable Members
        p Not finished
