extends layouts/default.jade

block title
  title Honorable Member Nomination - St. Mark's School Alumni Association 

block body
  .container
    button.close(type='button', aria-label='Close'): span(aria-hidden='true') &times;
    .alert.alert-info This page only shows how a newsletter view will look like. All newsletter links will be redirected to here during this stage.

  .container
    h3 Honorable Member Nomination
    article
      p Dear Alumini,
      p In order to recognize the contribution made by some alumni to the St. Mark's School Alumni Association in the past, the Executive Committee had passed to set up a new membership category: "Honorable Member". This resolution has got the support at the Annual General Meeting in 2009.
      p With reference to the nomination procedures as discussed during the last Annual General Meeting, the nomination period will be started from 1st August 2010 and closed at 1st November 2010. If you have any nomination, please submit your nomination (seconded by at least 2 members) to the following address:
      p Executive Committee, St. Mark's School Alumni Association Ltd. c/o St. Mark's School, 18 Oi Yin Street, Aldrich Bay, Shaukeiwan, Hong Kong or via email (mail to: smsaal@gmail.com or jacky.w.k.leung@hsbc.com.hk
      p Jacky Leung Secretary, St. Mark's School Alumni Association
      p Procedures for Nomination
      ol
        li All members could nominate, with seconded by at least 2 members, a candidate(s) for honourable member(s) to the Exco.
        li The nominating member should provide the justification in written for his/her nomination to the Exco.
        li The Exco might request further information from either the nominating members or candidate when necessary.
      p Assessment
      ol
        li Exco would assess the justifications (based on the past and future potential contribution to the Alumini Association).
        li The assessment should be validated by all the Exco members and documented in a meeting minutes.
        li Exco should provide the result of the assessment to the nominating member.
        li If the Exco considered the candidate is justified to be an Honorable member, the Exco should bring the nomination (with justification) to the AGM for approval.
      p Administration
      ol
        li Maximum number of new honourable members is limited to 3 per year.
        li The nomination period is from Aug to Nov every year.
      p Note: TWO (2) Seconders are required for making the nomination effective. 
