extends layouts/default.jade

block title
  title St. Mark's School Alumni Association

block vars
  - var banner_image = 'images/banner_index.png'

block body
  .container
    .alert.alert-warning Not implemented. This is just a preview
