doctype html
html
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title PLEASE CHANGE THE TITIE

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='/styles/main.css')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    
    //- header
    header.container.relative.visible-md.visible-lg
      .header-left
        a(href='/')
          img.img-responsive.inline(src='images/logo.png', alt='logo', width='55', height='55')
          span St. Mark's School Alumni Association
      .header-right
        small.links
          ul.list-inline
            li: a(href='http://www.stmarks.edu.hk/newsms/') St. Mark's School
            li: a(href='links.html') Links
            li: a(href='enews.html') e-news sign up
            li: a(href='contact.html') contact us
        a(href='http://www.facbook.com'): img.img-responsive(src='images/fb_icon.png', alt='Facebook page', height='25', width='25')

    //- separator, blue
    .container.visible-md.visible-lg
      .theme-back-color
        br

    //- front photo
    //- Specify image in each page, using variable 'banner_image'
    //- if banner_image is not defined, no image will be shown
    if (typeof(banner_image) !== 'undefined')
      .container.visible-md.visible-lg
        img.img-responsive.width-100(src= banner_image, alt='banner')

    //- desktop navbar
    .container.desktop-nav.visible-md.visible-lg
      nav.navbar.navbar-default
        ul.nav.nav-justified
          li: a('about us', 'index.html')
          li: a('news', 'news.html')
          li: a('upcoming events', 'events.html')
          li: a('photo gallery', 'gallery.html')
          li: a('membership', 'membership.html')
          li: a('souvenirs', 'souvenirs.html')

    //- Mobile navbar
    .navmenu.navmenu-default.navmenu-fixed-left.offcanvas-sm.hidden-md.hidden-lg#mobile-navbar
      ul.nav.navmenu-nav
        li: a(href='http://www.stmarks.edu.hk/newsms/') St. Mark's School
        li: a(href='links.html') Links
        li: a(href='enews.html') e-news sign up
        li: a(href='contact.html') contact us
      ul.nav.navmenu-nav
        li: a(href='enews.html') e-news
        li: a(href='contact.html') contact
        li: a(href='http://www.facebook.com') facebook
      ul.nav.navmenu-nav
        li: a.noop(href='#')#view-switch-desktop Switch to desktop view
    .navbar.navbar-default.navbar-fixed-top.hidden-md.hidden-lg
      button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='#mobile-navbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img.visible-xs-inline-block.visible-sm-inline-block(src='images/logo.png', width='25', height='25', alt='Alumni Association')
        span Alumni Association

    //- Desktop view in tablet
    //- As tablet view is quite awful...
    .container#view-switch-mobile
      .alert.alert-info(role='alert')
        button.close(type='button', aria-label='Close'): span(aria-hidden='true') &times;
        button.btn.btn-success.toggle-button Switch back to tablet view


    //- In development warning
    .container
      button.close(type='button', aria-label='Close'): span(aria-hidden='true') &times;
      .alert.alert-danger(role='alert') This site is still in heavy development. Many broken and unimplemented parts exists. Please use with care.

    block body

    .container
      footer.text-center.theme-back-color
        .container.text-muted
          span.
            Copyright &copy 2015 St. Mark's School Alumni Association Limited. Released under <a href='https://github.com/Holi0317/sms-alumni-webpage/blob/master/LICENSE'>MIT License</a>. /&nbsp
            <a href='sitemap.html'>site map</a>&nbsp/
            web designed by Hollis and Eric
            
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
