doctype html
html
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title PLEASE CHANGE THE TITIE
    
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    link(href="static/css/style.css", rel="stylesheet")
    // bower:css 
    // endbower 

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    // bower:js 
    // endbower 

    script new WOW().init();
    block head

  body
    //- Navbar start
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="index.html") 
            img(src='static/img/icon.png', alt='icon', width='64', height='64')

        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li 
              a(href='news.html') News 
            li 
              a(href='link.html') Links 
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" href="#") Dropdown test 
                span.caret 
              ul.dropdown-menu
                li 
                  a(href='#') dropdown 1
                li 
                  a(href='#') Dropdown 2

    //- Navbar ends

    block body 

    footer.footer
      .container 
        p.text-muted footer

    script(src="static/js/onload.min.js")
