extends ./_base.jade

block title
  title St. Mark's School Sports Club

block body
  .container.wow.fadeInUp
    .card
      .card-body(style="text-align:center")
        h1 Chief Teacher Advisor: Ms F.C. Luk
        h1 Commitee Members 2014 - 2015
        h2 Chairperson: Wong Ying Tung (4B)
        h3 Vice Chairperson: Fung Sze Yui (4A)
