#event-notice {
  width: 100%;
}

#e-signup {
    background-color: #8fabdd;
    padding: 3px, 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.form-group {
    margin-bottom: 5px;
}

#exec-commitee h3 {
    color: #0070c0;
}

#exec-commitee table > tbody > tr > td:first-child {
    font-weight: bold;
}
