doctype html
html
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title PLEASE CHANGE THE TITIE

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    //-<!-- build:css static/bundle.css -->
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    link(rel='stylesheet', href='static/css/style.css')
    //-<!-- endbuild -->

    //-<!-- build:js static/bundle.js -->
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src='static/js/onload.js')
    //-<!-- endbuild -->

    block head

  body
    //- header
    header.container.hidden-xs.relative
      .header-left
        a(href='/')
          img.img-responsive.inline(src='static/img/logo.png', alt='logo', width='55', height='55')
          span St. Mark's School Alumni Association
      .header-right
        small.links
          ul.list-inline
            li: a(href='http://www.stmarks.edu.hk/newsms/') St. Mark's School
            li: a(href='links.html') Links
            li: a(href='#enews') e-news sign up
            li: a(href='contact.html') contact us
        a(href='http://www.facbook.com'): img.img-responsive(src='static/img/fb_icon.png', alt='Facebook page', height='25', width='25')

    //- separator, blue
    .container.hidden-xs
      .theme-back-color
        br

    //- front photo
    //- Specify image in each page, using variable 'banner_image'
    .container.hidden-xs
      img.img-responsive.width-100(src= banner_image, alt='banner')

    //- desktop navbar
    .container.hidden-xs.desktop-nav
      nav.navbar.navbar-default
        ul.nav.nav-justified
          include _navbar.jade

    //- mobile navbar
    nav.navbar.navbar-default.visible-xs-inline.navbar-fixed-top.mobile-navbar
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mobile-navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img.visible-xs-inline-block(src='static/img/logo.png', width='25', height='25', alt='Alumni Association')
            span Alumni Association
        .collapse.navbar-collapse#mobile-navbar
          ul.nav.navbar-nav
            include _navbar.jade

  //- In development warning
  .container
    .alert.alert-danger(role='alert') This site is still in heavy development. Many stuffs are broken. Please use with care.

    block body

    .container
      footer.text-center.theme-back-color
        .container.text-muted
          span Copyright &copy 2015 St. Mark's School Alumni Association Limited. All Right Reserved. /
          a(href='sitemap.html') site map
          span / web designed by Hollis and Eric
