doctype html
html
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title PLEASE CHANGE THE TITIE
    
    //-<!-- build:css static/bundle.css -->
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/bootstrap-material-design/dist/css/material.css')
    link(rel='stylesheet', href='bower_components/bootstrap-material-design/dist/css/ripples.css')
    link(rel='stylesheet', href='bower_components/animate.css/animate.css')
    // endbower 
    //-<!-- endbuild -->

    //-<!-- build:js static/bundle.js -->
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/bootstrap-material-design/dist/js/material.js')
    script(src='bower_components/bootstrap-material-design/dist/js/ripples.js')
    script(src='bower_components/wow.js/dist/wow.js')
    // endbower 
    script(src='static/onload.js')
    //-<!-- endbuild -->

    script new WOW().init();
    block head

  body
    //- Navbar start
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="index.html") 
            img(src='static/img/icon.png', alt='icon', width='64', height='64')

        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li 
              a(href='news.html') News 
            li 
              a(href='link.html') Links 
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" href="#") Dropdown test 
                span.caret 
              ul.dropdown-menu
                li 
                  a(href='#') dropdown 1
                li 
                  a(href='#') Dropdown 2

    //- Navbar ends

    block body 

    footer.footer
      .container 
        p.text-muted footer
