doctype html
html
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title PLEASE CHANGE THE TITIE

    //-<!-- build:css static/bundle.css -->
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    link(rel='stylesheet', href='static/css/_style.css')
    //-<!-- endbuild -->

    //-<!-- build:js static/bundle.js -->
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src='static/js/_onload.js')
    //-<!-- endbuild -->

    block head

  body
    //- header
    header.container.relative.visible-md.visible-lg
      .header-left
        a(href='/')
          img.img-responsive.inline(src='static/img/logo.png', alt='logo', width='55', height='55')
          span St. Mark's School Alumni Association
      .header-right
        small.links
          ul.list-inline
            li: a(href='http://www.stmarks.edu.hk/newsms/') St. Mark's School
            li: a(href='links.html') Links
            li: a(href='enews.html') e-news sign up
            li: a(href='contact.html') contact us
        a(href='http://www.facbook.com'): img.img-responsive(src='static/img/fb_icon.png', alt='Facebook page', height='25', width='25')

    //- separator, blue
    .container.visible-md.visible-lg
      .theme-back-color
        br

    //- front photo
    //- Specify image in each page, using variable 'banner_image'
    //- if banner_image is not defined, no image will be shown
    if (typeof(banner_image) !== 'undefined')
      .container.visible-md.visible-lg
        img.img-responsive.width-100(src= banner_image, alt='banner')

    //- desktop navbar
    .container.desktop-nav.visible-md.visible-lg
      nav.navbar.navbar-default
        ul.nav.nav-justified
          include _navbar.jade

    //- mobile and tablet navbar
    nav.navbar.navbar-default.navbar-fixed-top.mobile-navbar.visible-xs.visible-sm
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mobile-navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img.visible-xs-inline-block(src='static/img/logo.png', width='25', height='25', alt='Alumni Association')
            span Alumni Association
        .collapse.navbar-collapse#mobile-navbar
          ul.nav.navbar-nav
            include _navbar.jade
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#') Links
                span.caret
              ul.dropdown-menu
                li: a(href='enews.html') e-news
                li: a(href='contact.html') contact
                li: a(href='http://www.facebook.com') facebook

    //- Desktop view in tablet
    //- As tablet view is quite awful...
    .container#view-switch
      .alert.alert-info.visible-sm(role='alert', data-target='desktop')
        button.close(type='button', aria-label='Close'): span(aria-hidden='true') &times;
        span As tablet view is quite buggy, you may want to switch to desktop view
        br
        button.btn.btn-success.toggle-button Switch to Desktop view
      .alert.alert-info.hidden(role='alert', data-target='mobile')
        button.close(type='button', aria-label='Close'): span(aria-hidden='true') &times;
        button.btn.btn-success.toggle-button Switch back to tablet view


    //- In development warning
    .container
      button.close(type='button', aria-label='Close'): span(aria-hidden='true') &times;
      .alert.alert-danger(role='alert') This site is still in heavy development. Many broken and unimplemented parts exists. Please use with care.

    block body

    .container
      footer.text-center.theme-back-color
        .container.text-muted
          span Copyright &copy 2015 St. Mark's School Alumni Association Limited. Released under 
          a(href='https://github.com/Holi0317/sms-alumni-webpage/blob/master/LICENSE') MIT License
          span . /&nbsp
          a(href='sitemap.html') site map
          span  / web designed by Hollis and Eric
