style.
  .e-signup-widget {
      background-color: #8fabdd;
      padding: 3px 10px;
      margin-bottom: 20px;
      overflow: hidden;
  }

  .e-signup-widget h3 {
    margin-left: 10px;
    color: #333;
  }

.hidden-xs
  .e-signup-widget
    h3 e-news sign up
    // Change method to POST in production
    form(role='form', action='enews.html', method='GET')
      //- mixin for a form item. Requires id, display name and type as argument
      mixin form_item(iden, name, text)
        .form-group
          input.form-control(for= iden, id= iden, type= text, placeholder= name)
      +form_item('first-name', 'first name')
      +form_item('last-name', 'last name')
      +form_item('grad-year', 'year of graduation')
      +form_item('email', 'email', 'email')
      button.btn.btn-link.pull-right(type='submit') submit
