//- Items in navbar
//- Only contains thousnds of li, a

mixin nav_item(name, url)
  li
    a(href= url)= name


+nav_item('about us', 'index.html')
+nav_item('news', 'news.html')
+nav_item('upcoming events', 'events.html')
+nav_item('photo gallery', 'gallery.html')
+nav_item('membership', 'membership.html')
+nav_item('souvenirs', 'souvenirs.html')
