extends ./_base.jade

block title
  title Alumni Association

block vars
  - var banner_image = 'static/img/banner_index.png'

block body
  .container
    .col-md-3
      //- Left bar


    .col-md-9
      //- Content on right
